.containerchart{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 5em;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
}

.containerbtn{
    display: flex;
    gap: 1em;
    align-self: flex-start;
    margin-left: 5em;
}

.optionbtn{
    font-size: 2em;
    color: rgb(107, 107, 107);
    border: unset;
    background-color: aliceblue;
    border-radius: 0.2em;
    padding: 0.3em;
    padding-top: 0.4em;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.optionbtn:hover{
    background-color: rgb(236, 113, 42);
    color: white;
    cursor: pointer;
}

.active{
    background-color: rgb(236, 113, 42);
    color: white;
    transform: scale(110%);
}

.title{
    align-self: flex-start;
    border-left: 2px solid rgb(236, 113, 42);
    padding-left: 0.5em;
    margin-bottom: 2em;
    color: rgb(100, 100, 100);
}